body{
    background: #CE7221;
background: -moz-linear-gradient(left, #CE7221 0%, #1FA438 43%, #B56EC5 100%);
background: -webkit-linear-gradient(left, #CE7221 0%, #1FA438 43%, #B56EC5 100%);
background: linear-gradient(to right, #CE7221 0%, #1FA438 43%, #B56EC5 100%);
}

.wrapper{

    
}